<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="activate.css">
</head>
<body>

<div class='container'>
    <!-- Section 1 - Beginning -->
    <div class='section1'>
        <!-- Image -->
        <span class='section1__img'></span>
        <!-- Content -->
        <div class='section1__content'>
            <!-- AD Card -->
            <div class='section1__adCard'>
                <h1 class='section1__adCardTitle'>Free<br>Premium<br>7 Days</h1>
                <span class='section1__adCardSeparator'></span>
                <div class='section1__adCardFeatures'>
                    <p class='section1__adCardFeature'>
                        <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16 section1__adCardFeatureIcon' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'></path></svg>
                        Your statistics
                    </p>
                    <p class='section1__adCardFeature'>
                        <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16 section1__adCardFeatureIcon' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'></path></svg>
                        All cars statistics
                    </p>
                    <p class='section1__adCardFeature'>
                        <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16 section1__adCardFeatureIcon' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'></path></svg>
                        Top Ready
                    </p>
                </div>
                <a href="{{frontURL}}/activate?token={{token}}" class='section1__adCardLink'>Activate Now</a>
            </div>
            <!-- Description -->
            <p class='section1__desc'>By clicking activate, you agree to the pricing policy of the market and the premium package</p>
        </div>
    </div>
    <!-- Section 1 - Ending -->

    <!-- Section 2 - Beginning -->
    <div class='section2'>
        <div class='section2__cards'>
            <!-- Card 1 -->
            <div class='section2__card'>
                <p class='section2__cardNumber'>01</p>
                <p class='section2__cardTitle'>Top cars</p>
                <p class='section2__cardDesc'>You see the top cars for your price</p>
            </div>

            <!-- Card 2 -->
            <div class='section2__card'>
                <p class='section2__cardNumber'>02</p>
                <p class='section2__cardTitle'>Avgerage price</p>
                <p class='section2__cardDesc'>You see the average price for your request car</p>
            </div>

            <!-- Card 3 -->
            <div class='section2__card'>
                <p class='section2__cardNumber'>03</p>
                <p class='section2__cardTitle'>Status</p>
                <p class='section2__cardDesc'>Support answer for your ask faster</p>
            </div>
        </div>
    </div>
    <!-- Section 2 - Ending -->

    <!-- Section 3 - Beginning -->
    <div class='section3'>
        <div class='section3__content'>
            <div class='section3__info'>
                <h3 class='section3__title'>OKTENRIA</h3>
                <span class='section3__separator'></span>
                <p class='section3__desc'>Buy - best</p>
                <p class='section3__desc'>sell - best</p>
                <p class='section3__desc'>order - best</p>
            </div>
            <span class='section3__img'></span>
        </div>
    </div>
    <!-- Section 3 - Ending -->
</div>

</body>
</html>