<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->

    <!-- Your title goes here -->
    <title>You're Invited</title>
    <!-- End title -->

</head>

<!-- You can change background colour here -->
<body style="text-align: center; margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000" align="center">

<!-- Fallback force center content -->
<div style="text-align: center;">

    <!-- Hero image -->
    <img style="width: 600px; max-width: 600px; height: 497px; max-height: 497px; text-align: center;" alt="Hero image" src="https://cdn.pixabay.com/photo/2018/07/18/16/07/car-3546670__480.jpg" align="center" width="600" height="350">
    <!-- Hero image -->

    <!-- Start single column section -->
    <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #000000;" width="600">
        <tbody>
        <tr>
            <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 40px;" width="596">

                <h1 style="font-size: 20px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 600; text-decoration: none; color: #efb329;">Welcome</h1>

                <p style="font-size: 15px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">Buying, selling, ordering. All for you, all for your car</p>





            </td>
        </tr>
        </tbody>
    </table>
    <!-- End single column section -->

    <!-- Start image -->
    <img style="width: 600px; max-width: 600px; height: 240px; max-height: 240px; text-align: center;" alt="Image" src="https://i0.wp.com/ideal.media/wp-content/uploads/2021/10/mazda-rx7-blue.jpg?fit=1280%2C720&ssl=1" align="center" width="600" height="240">
    <!-- End image -->

    <!-- Start single column section 222 -->
    <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #010101;" width="600">
        <tbody>
        <tr>
            <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;" width="596">


                <p style="font-size: 15px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">Visit JDM Cars <br /> try to get premium 7 days for free <b>a special BOGO offer</b></p>


                <img style="width: 180px; max-width: 180px; height: 85px; max-height: 85px; text-align: center; color: #ffffff;" alt="Logo" src="https://i.postimg.cc/ncM1dTsJ/NV-Resign-Logo.png" align="center" width="180" height="85">

                <p style="font-size: 15px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">Purchase any car and get 10% for premium</p>

                <h1 style="font-size: 20px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 600; text-decoration: none; color: #efb329;">Order design</h1>

                <p style="font-size: 15px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">Order your mind</p>




            </td>
        </tr>
        </tbody>
    </table>
    <!-- End single column section -->



    <!-- Start footer -->
    <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #000000;" width="600">
        <tbody>
        <tr>
            <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 40px;" width="596">

                <!-- Your inverted logo is here -->
                <img style="width: 180px; max-width: 180px; height: 85px; max-height: 85px; text-align: center; color: #ffffff;" alt="Logo" src="https://i.postimg.cc/hPdkGNxC/NV-Logo.png" align="center" width="180" height="85">

                <p style="font-size: 13px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">
                    Samokhval Stefan
                    <br />Step in the future
                </p>

                <p style="margin-bottom: 0; font-size: 13px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #ffffff;">
                    <a target="_blank" style="text-decoration: underline; color: #efb329;" href="github.com/monxchrome">
                        github.com/monxchrome
                    </a>
                </p>

            </td>
        </tr>
        </tbody>
    </table>
    <!-- End footer -->



</div>

</body>

</html>