/* Global Variables */
:root {
    --color1: #eee;
    --color2: #ed4c21;
    --color2Hover: #95290c;
    --color3: #112231;
    --color4: #f2f8fa;
    --color5: #7b7b7b;
    --color6: #81b73e;

    --mainLineHeight: 1.6;
    --sectionPadding: 55px;
    --smallSectionPadding: 15px;
}

/* Reset Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--color1);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 500px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Section 1 - Beginning */
.section1 {
    padding-top: var(--smallSectionPadding);
    position: relative;

    /* Flex */
    display: flex;
    justify-content: center;
}

.section1__img {
    display: block;
    width: 100%;
    height: 145px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;

    /* Background */
    background-image: url(https://carwow-uk-wp-3.imgix.net/18015-MC20BluInfinito-scaled-e1666008987698.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section1__img::before {
    background-color: var(--color2);
    width: 100%;
    height: 100%;
    opacity: 0.8;

    content: '';
    position: absolute;
}

.section1__content {
    width: fit-content;
    display: flex;
}

.section1__adCard {
    background-color: var(--color3);
    width: fit-content;
    padding: 25px 18px;
    margin: 18px 0 0 10px;
    border-radius: 4px;
    position: relative;
}

.section1__adCardTitle {
    color: var(--color1);
    font-weight: 400;
}

.section1__adCardSeparator {
    display: block;
    background-color: var(--color2);
    width: 26px;
    height: 2px;
    margin: 17px 0;
}

.section1__adCardFeatures {
    /* Flex */
    display: flex;
    flex-direction: column;
}

.section1__adCardFeature {
    color: var(--color1);
    font-size: 14px;
}

.section1__adCardFeature:not(.section1__adCardFeature:last-of-type) {
    margin-bottom: 10px;
}

.section1__adCardFeatureIcon {
    color: var(--color6);
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

.section1__adCardLink {
    display: block;
    background-color: var(--color2);
    color: var(--color1);
    width: fit-content;
    padding: 10px 15px;
    margin: 20px auto 0;
    text-decoration: none;
    border-radius: 2px;
}

.section1__adCardLink:hover {
    background-color: var(--color2Hover);
}

.section1__desc {
    color: var(--color3);
    max-width: 240px;
    height: fit-content;
    padding: 15px;
    margin: calc(145px + 20px) 0 0 20px;
    font-size: 14px;
    line-height: var(--mainLineHeight);
    border: solid 2px var(--color2);
}
/* Section 1 - Ending */

/* Section 2 - Beginning */
.section2 {
    padding: var(--sectionPadding) 0;
}

.section2__cards {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    gap: 20px;
}

.section2__card {
    background-color: var(--color4);
    padding: 25px 15px;
    border-radius: 2px;
}

.section2__cardNumber {
    color: var(--color2);
    font-size: 18px;
    font-weight: 600;
}

.section2__cardTitle {
    color: var(--color3);
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: var(--mainLineHeight);
}

.section2__cardDesc {
    color: var(--color5);
    margin-bottom: 15px;
    font-size: 15px;
    line-height: var(--mainLineHeight);
}

.section2__cardLink {
    color: var(--color2);
    font-size: 15px;
    text-decoration: none;
}

.section2__cardLink:hover {
    text-decoration: underline;
}

.section2__cardLinkIcon {
    color: var(--color2);
    width: 10px;
    height: 10px;
    margin-left: 2px;
}

@keyframes changePosition {
    to {
        transform: translateX(5px);
    }
}
.section2__cardLink:hover .section2__cardLinkIcon {
    /* Animation */
    animation-name: changePosition;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
/* Section 2 - Ending */

/* Section 3 - Beginning */
.section3 {
    padding-bottom: var(--smallSectionPadding);
}

.section3__content {
    border-radius: 4px;
    overflow: hidden;

    /* Background */
    background-image: url(https://cdn.luxe.digital/media/20230105073805/fastest-cars-world-2023-list-ranking-luxe-digital-1200x600.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* Position */
    position: relative;
    z-index: 1;

    /* Flex */
    display: flex;
    justify-content: center;
}

.section3__content::before {
    background-color: var(--color3);
    width: 100%;
    height: 100%;
    opacity: 0.8;

    content: '';
    position: absolute;
    z-index: -1;
}

.section3__img {
    display: block;
    width: 230px;
    height: 230px;
    margin-right: 20px;
    border-radius: 2px;
    align-self: center;

    /* Background */
    background-image: url(https://assets-eu-01.kc-usercontent.com/3b3d460e-c5ae-0195-6b86-3ac7fb9d52db/819061b6-7d77-4e3b-96af-1075fb2de5cb/Bugatti%20Chiron%20Super%20Sport%20300%2B.jpeg?width=800&fm=jpg&auto=format);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section3__info {
    padding: 25px 20px;

    /* Flex */
    display: flex;
    flex-direction: column;
}

.section3__title {
    color: var(--color1);
}

.section3__separator {
    display: block;
    background-color: var(--color2);
    width: 26px;
    height: 2px;
    margin: 17px 0;
}

.section3__desc {
    color: var(--color1);
    max-width: 250px;
    padding: 0 5px;
    margin: 10px 0 20px;
    font-size: 15px;
    line-height: var(--mainLineHeight);
}

.section3__link {
    display: block;
    background-color: var(--color2);
    color: var(--color1);
    width: fit-content;
    padding: 10px 15px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 2px;
}

.section3__link:hover {
    background-color: var(--color2Hover);
}
/* Section 3 - Ending */