@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);

body {
    margin: 0;
    background-color: #f2f3f8;
}

.table{
    font-family: 'Open Sans', sans-serif;"
}

.table2 {
    background-color: #f2f3f8;
    max-width:670px;
    margin:0 auto;
}

.td {
    height:80px;
}

.text-td {
    text-align:center
}

.td2 {
    height:20px;
}

.sec-table{
    max-width:670px;
    background:#fff;
    border-radius:3px;
    text-align:center;
    -webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);
    -moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);
    box-shadow:0 6px 18px 0 rgba(0,0,0,.06);
}

.td3{
    height:40px;
}

.td4{
    padding:0 35px;
}

.text{
    color:#1e1e2d;
    font-weight:500;
    margin:0;
    font-size:32px;
    font-family:'Rubik',sans-serif;
}

.space-span{
    display:inline-block;
    vertical-align:middle;
    margin:29px 0 26px;
    border-bottom:1px solid #cecece;
    width:100px;
}

.desc{
    color:#455056;
    font-size:15px;
    line-height:24px;
    margin:0;
}

.res-pass{
    background:#20e277;
    text-decoration:none !important;
    font-weight:500;
    margin-top:35px;
    color:#fff;text-transform:uppercase;
    font-size:14px;padding:10px 24px;
    display:inline-block;
    border-radius:50px;
}

.td5{
    height:40px;
}

.td6{
    height:20px;
}

.td-text2{
    text-align:center;
}