@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.LogoDiv {
    display: flex;
}

.Header {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #D8D8D8;
}

.Logo {
    width: 7vh;
    height: 7vh;
}

.LogoText {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    margin-left: 5vh;
}

.Text {
    font-family: 'Quicksand', sans-serif;
}