.LogoDiv {
    display: flex;
}

.Header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

.Logo {
    width: 7vh;
    height: 7vh;
}

.LogoText {
    display: flex;
    margin-left: 5vh;
}