.Father{
    width: 100%;
    height: 105vh;
    position: relative;
    top: 15vh;
    border-bottom: 1px solid #D8D8D8;
}

.Wrap {
    width: 50vh;
    position: relative;
    left: 20vw;
    display: flex;
}

.CarDiv {
    position: relative;
    top: 10vh
}

.Wrap2 {
    display: flex;
}

.PetCars {
    margin-left: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.PetCars > div > div > img {
    width: 30vh;
    height: 20vh;
}

.LeftArrow {
    position: relative;
    top: 22vh;
    right: 10vw;
    width: 5vw;
    height: 7vh;
}

.RightArrow {
    position: relative;
    top: 22vh;
    left: 5vw;
    width: 5vw;
    height: 7vh;
}

.Slider {
    position: relative;
    left: 5vw;
    top: 15vh;
    right: 10vw;
    width: 90vw;
}